body{
    background-color: lightgreen;
    font-family: "Oswald", sans-serif;
}

header.primary{
background:red;
}

<!-- colors #36E09B, #36B5E0, #36E0Ds, #36E061, #367FE0, #81E0DA >
/* ---- CSS Demo ---- */
